version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:10.16.3 # the primary container, where your job's commands are run
    steps:
      - checkout # check out the code in the project directory
      - run: console.log("hello world") # run the `echo` command
